.card {
    border: none !important;
}

.swiper-wrapper {
    height: 100vh;
}

.card-body {
    width: 100%;
    margin: auto;
}

.swiper-slide {
    min-width: 180px;
    overflow: auto;
}

label {
    width: 20vw;
    min-width: 65px;
    max-width: 125px;
}

.checkboxgroup {
    overflow: auto;
}

.swiper-pagination-bullet {
    width: 16px;
    height: 16px;
}

.swiper-pagination-bullet-active {
    background: #E83737;
}